//Paleta de colores

flyin-away = #73C1C5
bright-sky = #98D5D9
hope = #D9FDFF
fading = #3E9C84
research-papers = #3C6F62

/*html, body
	height 100%*/
body
	font-family: Roboto
	font-weight: 300;
	font-size: 18px
nav
	background-color: flyin-away

.header
	width: 100%
	height: 100%
	/*background-color: hope*/
	height: 350px
	display: inline-block;
	vertical-align: center
	padding: 40px 80px
	position: relative

	img
		width: 550px
		/*float: right*/
		margin: 0 100px

	ul
		display: inline-block;
		width: 100%

	ul li
		/*border 1px solid red*/
		display inline-block
		list-style: none;
		width 100%
		margin: 10px

.logo
	display inline-block;
	width 550px
	position absolute;
	top 50px
	right 200px
	text-align: right;

	h2
		font-weight: 500
		font-size: 30px
		text-align: right;
		margin: 10px 0
		/*text-shadow: 1px 1px #00695c*/

	h2, img
		display: inline-block;
		/*border: 1px solid red*/
		margin: 0
		padding: 0

.menu
	display: inline-block;
	width: 250px

.grad
	background-color: #e0f2f1

@media screen and (max-width: 1024px)
	.header
		padding: 0 0
		text-align: center;
	.logo
		top 80px

	.menu
		width: 100%
		padding: 0

	.menu
		ul li
			display: inline;

@media screen and (max-width: 768px)
	.menu
		 display: none;
	.logo
		position: initial
		width: 100%
		h2
			text-align: center;
	.logo img
		width: 100%
		position: relative;

	.header
		text-align: center;
