//Paleta de colores

flyin-away = #73C1C5
bright-sky = #98D5D9
hope = #D9FDFF
fading = #3E9C84
research-papers = #3C6F62

/*html, body
	height 100%*/

header
	width: 100%
	height: 100%
	background-color: hope
	display: inline-block
	height: 300px


	img
		width: 30%
		/*float: right*/
		margin: 0 100px

	nav ul li
		border 1px solid red
		display inline
		list-style: none;
		width 100%

		a
			color fading
