//Paleta de colores

flyin-away = #73C1C5
bright-sky = #98D5D9
hope = #D9FDFF
fading = #3E9C84
research-papers = #3C6F62

/*html, body
	height 100%*/
body
	font-family: Roboto
	font-weight: 300;
	font-size: 18px
nav
	background-color: flyin-away

.header
	width: 100%
	height: 100%
	/*background-color: hope*/
	height: 350px
	display: inline-block;
	vertical-align: center
	padding: 40px 80px
	position: relative

	img
		/*width: 550px*/
		/*float: right*/
		margin: 0 100px

	ul
		display: inline-block;

	ul li
		/*border 1px solid red*/
		display inline-block
		list-style: none;
		width 100%
		margin: 10px

.logo
	display inline-block;
	width 550px
	position absolute;
	top 50px
	right 200px
	text-align: right;

	h2
		font-weight: 400
		font-size: 25px
		text-align: right;
		margin: 10px 0

	h2, img
		display: inline-block;
		/*border: 1px solid red*/
		margin: 0
		padding: 0

.menu
	display: inline-block;
	width: 250px

.grad {
    background: #4db6ac; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4db6ac, #b2dfdb , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4db6ac, #b2dfdb , white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4db6ac, #b2dfdb , white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4db6ac, #b2dfdb , white); /* Standard syntax */
}
